:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.toolbar {
  z-index: 2;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 50px;
  justify-content: center;
  top: 0;
  left: 0;
  align-items: center;
  background: rgba(252, 120, 52, 0.75);
  box-shadow: 0 10px 20px rgba(10, 10, 10, 0.75), 0 6px 6px rgba(165, 213, 189, 0.19);
}

.titles {
  width: 60%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.titles span {
  width: 35%;
  height: 100%;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}


.google-btn-mobile{
  width: 100px;
  margin-right: 20px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-btn {
  width: 184px;
  margin-right: 20px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-btn .google-icon-wrapper, .google-btn-mobile .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon, .google-btn-mobile .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text, .google-btn-mobile  .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669F2;
}

.logout {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}


.logout-mobile {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.logout-mobile button {
  width: 30%;
  display: flex;
  height: 80%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
}



.logout button {

  display: flex;
  height: 80%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
}

.logout .username {
  font-weight: bold;
  margin-right: 8px;
}
